.field-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.next-move {
    font-size: 6rem;
    user-select: none;
    text-align: center;
    margin-top: 20px;
}
